.description__versions {
  display: flex;
}
.description__button {
  border: none;
  width: 61px;
  height: 60px;
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
  background: #3badff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.description--border {
  border-right: 1px solid #1f1f1f;
}
.versions__icon {
  width: 60px;
  height: 58px;
}
.description__pContainer{
  width: 100%;
  height: 89px;
  background: #2f2f2f;
}
.description__p{
  color: #f2f2f2;
  font-family: "Cascadia Code", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 6px 0 0 13px;
}
